.colorBack {
    background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
}

.containerColor {
    background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
}

.containerBorder {
    border-radius: 30px;
}

.resizeContainer {
    height: 500px;
    width: 300px;
}

.textColor {
    color: white;
}

.buttonColor {
    background: linear-gradient(to top, #30cfd0 0%, #330867 100%);
}

.navVar {
    margin-top: 10px;
}

.signUpBottonStyle {
    margin-top: 20px;
}

.signUpContainer {
    width: 50%;
    height: 100%;
}

.displaySignUpContainer {
    display: flex;
    justify-content: flex-start;
}

.contentForm {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    border: solid black;
}

.inputSize {
    width: 100%;
}

.containerFlex {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}


.buttonSize {
    width: 50px;
}

.temp {
    display: flex;
    align-items: center;
}